
<br>
<div class="ui segment">
	
	<div class="ui huge breadcrumb">
	  <i class="left chevron icon divider"></i>
	  <a href="/course"><div class="section">Course Info</a>
	  <i class="left chevron icon divider"></i>
	  <div class="active section">Add new course</div>
	</div>
<br>

	<h2 class="ui header">
    <i class="info circle icon"></i>
    <div class="content">
      Basic Information
    </div>
  </h2>

  <form action="/course">
	<table class="ui definition table">
      
      <tbody>
        <tr>
          <td class="three wide column">Course Name</td>
          <td>
          	<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="e.g. System Analysis and Design..." ng-model="courseName">
			  </div>
			</div>
          </td>
        </tr>
        <tr>
          <td>Academic Year</td>
          <td>
            <div class="ui form">
        <div class="field">
          <input type="text" placeholder="e.g. 102, 103..." ng-model="courseYear">
        </div>
      </div>
          </td>
        </tr>
        <tr>
				  <td>Semester</td>
				  <td>
					<div class="ui form">
				<div class="field">
				  <input type="text" placeholder="e.g. spring semester/fall semester..." ng-model="courseSemester">
				</div>
			  </div>
				  </td>
        </tr>
        <tr>
        	<td>Time</td>
        	<td>
    			<div class="ui form">
			  	<div class="field">
			    <input type="text" placeholder="e.g. Monday678" ng-model="courseTime">
			  	</div>
				</div>
        	</td>
        </tr>
         <tr>
        	<td>Classroom</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="e.g. Room 102 College of Management Building II " ng-model="classVenue">
			  </div>
			</div>
        	</td>
        </tr>
         <tr>
        	<td>Note</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="e.g. English-taught class" ng-model="note">
			  </div>
			</div>
        	</td>
        </tr>
         <!-- <tr>
        	<td>Course URL</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="e.g. https://ceiba.ntu.edu.tw/XXXXX">
			  </div>
			</div>
        	</td>
        </tr>
         <tr>
        	<td>Core Capabilities and Curriculum Planning</td>
        	<td>
        	
			  <div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="course plan...">
			  </div>
			</div>
			
        	</td>
        </tr>
        <tr>
        	<td>Description</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    	<input type="text" placeholder="what the course is all about?">
			  </div>
			</div>
        	</td>
        </tr>
        <tr>
        	<td>Objective</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="student's intended learning outcome...">
			  </div>
			</div>
        	</td>
        </tr>
        <tr>
        	<td>Background</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="any prerequisite course has to be taken beforehand?">
			  </div>
			</div>
        	</td>
        </tr>
        <tr>
        	<td>Keyword</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="give people a glimpse of what the course is about...">
			  </div>
			</div>
        	</td>
        </tr>
        <tr>
        	<td>Assigned readings</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="suggested magazine, news, paper...">
			  </div>
			</div>
        	</td>
        </tr>
        <tr>
        	<td>Office hours</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="e.g. Monday 9 a.m. - 1 p.m.">
			  </div>
			</div>
        	</td>
        </tr>
        <tr>
        	<td>Reference books</td>
        	<td>
        		<div class="ui form">
			  <div class="field">
			    <input type="text" placeholder="textbook title, author, ISBN...">
			  </div>
			</div>
        	</td>
        </tr> -->
      </tbody>
    </table>

    <button class="ui right floated button" ng-click="addBook()">
	  	Submit
	</button>
</form>

<br>

	<h2 class="ui header">
    <i class="checkmark box icon"></i>
    <div class="content">
      Evaluation
    </div>
  </h2>

  <table class="ui table segment">
      <thead>
      <tr>
      <th class="one wide">No.</th>
      <th class="two wide">Item</th>
      <th class="one wide">Percent</th>
      <th>Description</th>
      </tr>
    </thead>

    <tbody>
    <tr> 
      <td>1</td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text" placeholder="description about mark scheme...">
			</div>
		</div>
      </td>
    </tr>

    <tr>
    <td>2</td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
	  </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text" placeholder="description about mark scheme">
			</div>
		</div>
      </td>
    </tr>

   

    </tbody>
  </table>

   <div class="ui button">
		    <a href=""><i class="plus icon"></i>Add particulars</a>
	</div>
	<button class="ui right floated button">
	  	Submit
	</button>
	
<br>
<br>

	<h2 class="ui header">
    <i class="user icon"></i>
    <div class="content">
      Assistant Information
    </div>
  </h2>

  <table class="ui table segment">
      <thead>
      <tr>
      <th class="10%">No.</th>
      <th class="20%">Name</th>
      <th class="20%">Office</th>
      <th class="20%">Email</th>
      <th class="20%">Phone</th>
      </tr>
    </thead>

    <tbody>
    <tr>
      <td>1</td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
    </tr>

    <tr>
      <td>2</td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
      <td>
      	<div class="ui form">
			<div class="field">
			  <input type="text">
			</div>
		</div>
      </td>
    </tr>
    </tbody>

  </table>

  <div class="ui button">
		    <a href=""><i class="plus icon"></i>Add assistant</a>
	</div>
	<button class="ui right floated button">
	  	Submit
	</button>


<br>  
<br>
<br>

</div>