
<br>
<div class="ui segment">
	<div class="ui huge breadcrumb">
	  <i class="left chevron icon divider"></i>
	  <a href="/course"><div class="section">Student's groupings</a>
	  <i class="left chevron icon divider"></i>
	  <a href="/student"><div class="section">Edit groupings</a>
	  <i class="left chevron icon divider"></i>
	  <div class="active section">Add groups</div>
	</div>

	<table class="ui compact table">
      <thead>
      <tr>
      <th width="50%">Group No</th>
      <th width="50%">Group Members</th>
      <!-- <th width="30%">Major</th>
      <th width="8%">Grade</th> -->
      <!-- <th>Group No</th> -->
      </tr>
    </thead>

    <tbody>
      <tr>
      <td>
      	<div class="ui form">
	        <div class="field">
	          <input type="text">
	        </div>
      	</div>
      </td>
      <td>
      	<div class="ui form">
	        <div class="field">
	          <input type="text">
	        </div>
      	</div>
      </td>
      
      <!-- <td>1</td> -->
  	  </tr>

  	  
    </tbody>
  	</table>

  	<button class="ui left floated button" onclick="myFunction()">Add</button>
  	<button class="ui right floated button" ng-click="addRecord()">
      Submit
  	</button>
</div>