
<br>

<div class="ui huge breadcrumb">
  <i class="left chevron icon divider"></i>
  <a href="/course"><div class="section">Course Info</a>
  <i class="left chevron icon divider"></i>
  <div class="active section">Edit course</div>
</div>
<br>
<table class="ui definition table">
      
      <tbody>
        <tr>
          <td class="three wide column">Course Name</td>
          <td>System Analysis and Design
          </td>

   
        </tr>
        <tr>
          <td>Designated For</td>
          <td>Department of Information Management</td>
        </tr>
        <tr>
          <td>Course No</td>
          <td>IM 3007</td>
        </tr>
        <tr>
          <td>Class</td>
          <td></td>
        </tr>
        <tr>
        	<td>Time</td>
        	<td></td>
        </tr>
         <tr>
        	<td>Classroom</td>
        	<td>Monday678</td>
        </tr>
         <tr>
        	<td>Note</td>
        	<td>English-taught class</td>
        </tr>
         <tr>
        	<td>URL</td>
        	<td><a href="https://ceiba.ntu.edu.tw/1032IM3007_">https://ceiba.ntu.edu.tw/1032IM3007_</a></td>
        </tr>
         <tr>
        	<td>Core Capabilities and Curriculum Planning</td>
        	<td>
        	<ul>
			  <li>Professional expertise</li>
			  <li>Logical reasoning and problem solving</li>
			  <li>Critical and independent thinking</li>
			  <li>Practical applications</li>
			  <li>Teamwork and leaderships</li>
			</ul>
        	</td>
        </tr>
        <tr>
        	<td>Description</td>
        	<td>System development involves complex analysis and design work which are often conducted in form of team. This course offers the fundamental and typical (structural) methodologies and advocates the data-oriented strategy for systems analysis and design (sda). Students will be required to form teams to practice and exercise the taught sda methods and to present and verify their learning results periodically by using real cases. </td>
        </tr>
        <tr>
        	<td>Objective</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Background</td>
        	<td>Programming related courses</td>
        </tr>
        <tr>
        	<td>Keyword</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Assigned readings</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Office hours</td>
        	<td></td>
        </tr>
        <tr>
        	<td>Reference books</td>
        	<td></td>
        </tr>
      </tbody>
    </table>
  </div>