
<br>
<div class="ui segment">
<h3 class="ui dividing header">
  <div class="ui blue label">1.</div>
  Course Information
</h3>


<!-- <div class="ui compact menu">
    <div class="ui simple dropdown item">
      Please select the semester
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">All</div>
        <div class="item">103-1</div>
        <div class="item">103-2</div>
      </div>
    </div>
  </div>
 -->
<select class="ui dropdown" ng-model="selection">
  <option value="2014/2">103-2</option>
  <option value="2014/1">103-1</option>
  <option value="2013/2">102-2</option>
  <option value="2013/1">102-1</option>
</select>



  <div class="ui right floated button">
      <a href="/addcourse"><i class="plus icon"></i>Add New Course</a>
  </div>

<table class="ui collapsing table segment">
  <thead>
    <tr><th>Course No</th>
    <th>Class</th>
    <th>Course Title</th>
    <th>Time</th>
    <th>Classroom</th>
    <th>Designated For</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="course in courses">
      <td width="7%">{{course.CID}}</td>
      <td width="5%"></td>
      <td width="25%">{{course.CNAME}}</td>
      <td width="10%">Monday678</td>
      <td width="10%">{{course.CINFO}}</td>
      <td width="20%">{{course.CTEACHER}}</td>
      <td width="7%">
      <a href="/course2"><div class="ui button">Edit</div></a>
	  </td>
    </tr>
  </tbody>
  
</table>


<h3 class="ui dividing header">
  <div class="ui blue label">2.</div>
  Student's groupings
</h3>

<table class="ui collapsing table segment">
  <thead>
    <tr><th>Course No</th>
    <th>Class</th>
    <th>Course Title</th>
    <th>Designated For</th>
    <th>Number of students</th>
    <th>Number of groups</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>IM 3007</td>
      <td></td>
      <td>System Analysis and Design</td>
      <td>Department of Information Management</td>
      <td>50</td>
      <td>10</td>
      <td>
      <a href="/student"><div class="ui button">More</div></a>
    
    </td>
    </tr>
    <tr>
      <td>IM 5034</td>
      <td></td>
      <td>Information Technology and Innovation</td>
      <td>Department of Information Management<br>Graduate Institute<br>Knowledge Management</td>
      <td>36</td>
      <td>6</td>
      <td>
      <div class="ui button">
      More
    </div>
      </td>
    </tr>
  </tbody>
  
</table>

<br>
<br>
<br>

</div>


<!-- 
<h2>Hello World</h2>
<div class="ui button">home</div>

			<div class="ui primary button">
			  Save
			</div>
			<div class="ui button">
			  Discard
			</div>

<p ng-controller="Course">Yo {{cname}}</p>
<p>cname</p>
-->

