
<br>
<div class="ui segment">
<h2 class="ui dividing header">
  <div class="ui blue label">1.</div>
  Course Information
</h2>


<!-- <div class="ui compact menu">
    <div class="ui simple dropdown item">
      Please select the semester
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">All</div>
        <div class="item">103-1</div>
        <div class="item">103-2</div>
      </div>
    </div>
  </div>
 -->
<select class="ui dropdown" ng-model="semester">
      <option value="">Semester</option>
      <option value="2014/2">103-2</option>
      <option value="2014/1">103-1</option>
      <option value="2013/2">102-2</option>
      <option value="2013/1">102-1</option>
    </select>

    <!-- <select class="ui dropdown" ng-model="course" ng-options="coursed.CNAME for coursed in courses">
      <option value="">Course</option>
    </select> -->




  <div class="ui right floated button">
      <a href="/addcourse"><i class="plus icon"></i>Add New Course</a>
  </div>

<table class="ui collapsing table segment">
  <thead>
    <tr>
    <!-- <th width ="7%">Course No</th>   -->  
    <th width="16%">Course Title</th>
    <th width="7%">Academic Year</th>
    <th width="7%">Semester</th>
    <th width="35%">Description</th>
    <th width="7%">Instructor</th>
    <!-- <th width="9%">Designated for</th> -->
    <th width="7%">Time</th>
    <th width="7%">Classroom</th>
    <th width="5%">Action</th>


  </tr></thead>
  <tbody>
    <tr ng-repeat="course in courses">
      <!-- Call database -->
      <!-- <td>{{course.CID}}</td>  -->    
      <td>{{course.CNAME}}</td>
      <td>{{course.CYEAR}}</td>
      <td>{{course.CSEMESTER}}</td>
      <td>{{course.CINFO}}</td>
      <td>{{course.CTEACHER}}</td>
     <!--  <td>{{coursebyname.CTARGET}}</td> -->
      <td>{{course.CTIME}}</td>
      <td>{{course.CCLASSROOM}}</td>
      <td>
      <a href="/course2"><div class="ui button">Edit</div></a>
    
    </td>
      <!-- <td>{{coursebyname.CID}}</td>     
      <td>{{coursebyname.CNAME}}</td>
      <td>{{coursebyname.CTIME}}</td>
      <td>{{coursebyname.CCLASSROOM}}</td>
      <td>{{coursebyname.CINFO}}</td>
      <td>{{coursebyname.CTEACHER}}</td>
      <td>{{coursebyname.CTARGET}}</td>
      <td>
      <a href="/course2"><div class="ui button">Edit</div></a>
    
    </td> -->
    </tr>
    <!-- <tr>
      <td>IM 5034</td>
      <td></td>
      <td>Information Technology and Innovation</td>
      <td>Tuesday123</td>
      <td>管一402</td>
      <td>Department of Information Management<br>Graduate Institute<br>Knowledge Management</td>
      <td>
      <div class="ui button">
      Edit
    </div>
      </td>
    </tr>
	  </td>
    </tr>
  -->
  </tbody>
  
</table>


<h2 class="ui dividing header">
  <div class="ui blue label">2.</div>
  Student's groupings
</h2>

<table class="ui collapsing table segment">
  <thead>
    <tr>
    <th>Course No</th>

    <th>Course Title</th>

    <th>Number of students</th>
    <th>Number of groups</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="course in courses123">
      <td>{{course.CID}}</td>

      <td>{{course.CNAME}}</td>

      <td>{{course.CNUMBER}}</td>
      <td>{{course.CGROUP}}</td>
      <td>
      <a href="/student"><div class="ui button">More</div></a>
    
    </td>
    </tr>
    <!--
    <tr>
      <td>IM 5034</td>
      <td></td>
      <td>Information Technology and Innovation</td>
      <td>Department of Information Management<br>Graduate Institute<br>Knowledge Management</td>
      <td>36</td>
      <td>6</td>
      <td>
      <div class="ui button">
      More
    </div>
      </td>
    </tr>
  -->
  </tbody>
  
</table>

<br>
<br>
<br>

</div>

