
<br>
<div class="ui segment">
<h3 class="ui dividing header">
  <div class="ui blue label">1.</div>
  Course Information
</h3>


<div class="ui compact menu">
    <div class="ui simple dropdown item">
      Please select the semester
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">All</div>
        <div class="item">103-1</div>
        <div class="item">103-2</div>
      </div>
    </div>
  </div>

<table class="ui collapsing table segment">
  <thead>
    <tr><th>Course No</th>
    <th>Class</th>
    <th>Course Title</th>
    <th>Time</th>
    <th>Classroom</th>
    <th>Designated For</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>IM 3007</td>
      <td></td>
      <td>System Analysis and Design</td>
      <td>Monday678</td>
      <td>管二102</td>
      <td>Department of Information Management</td>
      <td>
      <a href="/course2"><div class="ui button">Edit</div></a>
    
	  </td>
    </tr>
    <tr>
      <td>IM 5034</td>
      <td></td>
      <td>Information Technology and Innovation</td>
      <td>Tuesday123</td>
      <td>管一402</td>
      <td>Department of Information Management<br>Graduate Institute<br>Knowledge Management</td>
      <td>
      <div class="ui button">
  		Edit
		</div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr><th></th>
     <th></th>
   	 <th></th>
    <th>Add new course?</th>
    <th></th>
    <th></th>
    <th align="right">
    	<a href="/addcourse">
    	<div class="ui button">
  		Add
		</div>
		</a>
    </th>
  </tr></tfoot>
</table>


<h3 class="ui dividing header">
  <div class="ui blue label">2.</div>
  Student's groupings
</h3>

<table class="ui collapsing table segment">
  <thead>
    <tr><th>Course No</th>
    <th>Class</th>
    <th>Course Title</th>
    <th>Time</th>
    <th>Classroom</th>
    <th>Designated For</th>
    <th>Action</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>IM 3007</td>
      <td></td>
      <td>System Analysis and Design</td>
      <td>Monday678</td>
      <td>管二102</td>
      <td>Department of Information Management</td>
      <td>
      <a href="/partial/course2"><div class="ui button">more</div></a>
    
    </td>
    </tr>
    <tr>
      <td>IM 5034</td>
      <td></td>
      <td>Information Technology and Innovation</td>
      <td>Tuesday123</td>
      <td>管一402</td>
      <td>Department of Information Management<br>Graduate Institute<br>Knowledge Management</td>
      <td>
      <div class="ui button">
      More
    </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr><th></th>
     <th></th>
     <th></th>
    <th>Add new course?</th>
    <th></th>
    <th></th>
    <th align="right">
      <div class="ui button">
      Add
    </div>
    </th>
  </tr></tfoot>
</table>
</div>


<!-- 
<h2>Hello World</h2>
<div class="ui button">home</div>

			<div class="ui primary button">
			  Save
			</div>
			<div class="ui button">
			  Discard
			</div>

<p ng-controller="Course">Yo {{cname}}</p>
<p>cname</p>
-->

