<html>
	<head></head>
	<body>
		
		<div class="ui compact menu">
			<div class="ui simple dropdown item">
			  Semester
			  <i class="dropdown icon"></i>
			  <div class="menu">
				<div class="item">All</div>
				<div class="item">103-2</div>
				<div class="item">103-1</div>
			  </div>
			</div>
		  </div>

		<div class="ui compact menu">
			<div class="ui simple dropdown item">
			  Course
			  <i class="dropdown icon"></i>
			  <div class="menu">
				<div class="item">System Analysis and Design</div>
				<div class="item">Information Technology and Innovation</div>
				<div class="item">Project on Information Management (Ⅰ)</div>
			  </div>
			</div>
		  </div>
		
		<div class="ui top attached tabular menu">
			<a class="active item" data-tab="Class Information">Class Information</a>
			<a class="item" data-tab="Personal Assignments">Personal Assignments</a>
			<a class="item" data-tab="Group Projects">Group Projects</a>
		  </div>
		<div class="ui bottom attached active tab segment" data-tab="Class Information">
			ClassInformation
		  </div>
		<div class="ui bottom attached tab segment" data-tab="Personal Assignments">
			Personal Assignments
		  </div>
		<div class="ui bottom attached tab segment" data-tab="Group Projects">
			Group Projects
		  </div>		
		
	</body>
</html>