<!-- 
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="998708767567-il73o9ta6h4jsb4n644apn97tb2a5rl3.apps.googleusercontent.com">


<div class="ui center aligned segment">
  	<div class="field">
  		<label>Account</label>
  		<input placeholder="e-mail" type="text">
	</div>

	<div class="field">
		<label>Password</label>
		<div class="ui left icon input">
  			<i class="lock icon"></i>
  			<input type="password">
		</div>
  	</div>
  <div class="ui horizontal divider"></div>
	<div class="ui buttons">
	<a href="/login"><div class="blue ui button">Log in</div></a>
	<div class="or"></div>
	<a href="/adduser"><div class="ui positive button">Sign Up</div></a>
</div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
 -->