<h2>This is personalinfo</h2>
    
	<div class="ui segment">
    <div class="centered row">
      <h2 class="ui header">
        Employee's name
      <div class="sub header">department</div>
      </h2>
    	<div class="ui small images">
        <img class="ui small image" src="/img/image.png">
        </div>
      <div class="ui primary button">button</div>
      <p>description of the employee himself(herself)</p>
    </div>  
    <h4 class="ui horizontal header divider">
    <i class="bar chart icon"></i>
    personal information
    </h4>
    <table class="ui definition table">
      <tbody>
        <tr>
          <td class="two wide column">employee's ID</td>
          <td>810699125248</td>
        </tr>
        <tr>
          <td>manager</td>
          <td>someone manage this employee</td>
        </tr>
        <tr>
          <td>subjects need to be learn</td>
          <td>calculus,physics,sales,accounting</td>
        </tr>
        <tr>
          <td>what have been done</td>
          <td>nobody teach you</td>
        </tr>
      </tbody>
    </table>
  </div>