
<br>
<div class="ui segment">
	<div class="ui huge breadcrumb">
	  <i class="left chevron icon divider"></i>
	  <a href="/course"><div class="section">Student's groupings</a>
	  <i class="left chevron icon divider"></i>
	  <div class="active section">Edit groupings</div>
	</div>
<br>
	
<!--
	<h2 class="ui header">
	  <i class="info circle icon"></i>
	  <div class="content">
	    Basic Information
	  </div>
	</h2>

	<table class="ui small definition table">
		<tbody>
        <tr>
          <td width="20%">Course Name</td>
          <td></td>
        </tr>
        <tr>
          <td>Course No</td>
          <td></td>
        </tr>
        <tr>
        	<td>Time</td>
        	<td></td>
        </tr>
         <tr>
        	<td>Classroom</td>
        	<td></td>
        </tr>
         <tr>
        	<td>Note</td>
        	<td></td>
        </tr>
    	</tbody>
	</table>

-->

	<h2 class="ui header">
	  <i class="plus icon"></i>
	  <div class="content">
	    Student list
	  </div>
	  <div class="sub header">Manually add students into student list</div>
	</h2>
	

  	<table class="ui very small collapsing table">
      <thead>
      <tr>
      <th width="15%">Student ID</th>
      <th width="25%">Name</th>
      <th width="30%">Major</th>
      <th width="8%">Grade</th>
      <!-- <th>Group No</th> -->
      </tr>
    </thead>

    <tbody>
      <tr>
      <td>b12345678</td>
      <td>Elton</td>
      <td></td>
      <td></td>
      <!-- <td>1</td> -->
  	  </tr>

  	  <tr>
  	  	<td>b87654321</td>
  	  	<td>Ykit</td>
  	  	<td></td>
  	  	<td></td>
  	  	<!-- <td>1</td> -->
  	  </tr>
    </tbody>
  	</table>

  	 <div class="ui button">
		<a href="/addstudent"><i class="plus icon"></i>Add student</a>
	</div>
	<!--
	<button class="ui primary right floated button">
	  	OK
	</button>
	<div class="ui right floated button" tabindex="0">
	  	Cancel
	</div>
	-->

	<h2 class="ui header">
	  <i class="add user icon"></i>
	  <div class="content">
	    Create group
	  </div>
	  <div class="sub header">Manually assign students into certain group</div>
	</h2>

	<table class="ui very small collapsing table">
      <thead>
      <tr>
      <th width="10%">Group No</th>
      <th width="20%">Group name</th>
      <th width="20%">Group leader</th>
      <th width="20%">Group member</th>
      <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <td>1</td>
      <td>Avengers</td>
      <td></td>
      <td></td>
      <td>
      	<div class="ui compact menu">
      	<div class="ui simple dropdown item">
      Add member
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Elton</div>
        <div class="item">Ykit</div>
        <div class="item">Cherry</div>
      </div>
    </div>
  </div>

      </td>
  	  </tr>

  	  <tr>
  	  	<td>2</td>
  	  	<td>Justic League</td>
  	  	<td></td>
  	  	<td></td>
  	  	<td></td>
  	  </tr>
    </tbody>
  	</table>

  	<div class="ui button">
		<a href="/addgroup"><i class="plus icon"></i>Add group</a>
	</div>
	
<br>
<br>
</div>
