<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
		<style>
		.login
		{
			align: center;
			font-size: 30px;
		}
		</style>
    </head>
    <body>
		<div>
			<a href="/glogin"><div class="massive ui google plus button">
				<i class="google plus icon"></i>
				Login with Google
			</div></a>
		</div>
    </body>
</html>