<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
    </head>
    <body>
		<a href="/glogin"><div class="ui google plus button">
            <i class="google plus icon"></i>
            Login with Google
        </div></a>
    </body>
</html>