<!--<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
		<style>
		button
		{
			align: center;
			text-align: center;
			font-size: 30px;
			color: Ivory;
			background-color: LightSlateGray ;
			padding: 10px;
			margin: 20%
		}
		.heading
		{
			align: center;
			text-align: center;
			font-size: 200%;
			font-family: verdana;
			width: 100%
			height: 40%
		}
		body
		{
			background-color: Silver
		}
		</style>
	-->
<link rel="stylesheet" href="/css/semantic.min.css">  
        <link rel="stylesheet" href="/css/icon.min.css">
        <link rel="stylesheet" href="/css/image.min.css">
        <link rel='stylesheet', href='/css/app.css'>

    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
		var url = '';
		var w = '';
		$(document).ready(function() { 
			$.get('/glogin', function(data) {
				url = data;
			});
			var interval = window.setInterval((function() {
			 	if (w.closed) {
			 		window.clearInterval(interval);
			 		window.location = '/';
			 	}
			 }),1000);
		});
	</script>
    <!-- </head>
    <body> -->
		
		<div class="ui segment">
		  
		<br>
		

		  <h1 class="ui header">Welcome to GCeiba
		  	
		  	<div class="sub header">With GCeiba, manage your archived file is simpler than ever! </div>
		  	<br>
		  	<div class="sub header">GCeiba acts as an interface that connect users with Google Drive. Through this system, instructor can create folder and view student assignment on Google Drive, as well as upload documents to the drive. More than that, the wonderful thing of it is that the assignment submitted by students will be automatically placed in instructor's folder, which means the instructor does not have to upload every assignment with his own hands. The only thing users need to do is to register a Google account beforehand. 
		</div>
		  </h1>
		<br>
		<div class="sub header">
			*Please login to the system by clicking button below. You will be asked to login by Google account.
		</div>

		<div>
		<br>
		<button class="ui google plus button" onclick="w = window.open(url, 'window', 'status=0,menubar=0,resizable=1,width=500,height=500;')">
			<i class="google plus icon"></i>
			Login to Google</button>
		</div>
		<br>
</div>	
    <!-- </body>
</html>